<footer>
  <div class="dashed"></div>
  <ul class="horizontal-list">
    <li><a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a>&nbsp;&nbsp;</li>
    <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">linkedin</a>&nbsp;&nbsp;</li>
    <li><a href="mailto:{{ site.email | encode_email }}">email</a>&nbsp;&nbsp;</li>
    <li><a href="{{ "/feed.xml" | relative_url }}">feed</a>&nbsp;&nbsp;</li>
  </ul>
</footer>
