---
layout: default
---

<!-- {% if page.profile %}
    {% if page.profile.image %}
      <img class="profile {{ page.profile.align }}"  width="33.33%" src="{{ page.profile.image | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
{% endif %} -->

{{ content }}

<div>
	<h3>Postagens recentes</h3><br>
	{% for post in site.posts limit:5 %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: '%d-%m-%Y' }}</small>
    <br>
	{% endfor %}
</div>
